.game-container {
  margin: 10px;
}

canvas {
  border: 6px solid black;
}

.canvas-restart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.restart-button {
  width: 150px;
  height: 38px;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.restart-button:hover {
  background: green;
}