.main-outer-container {
    background: lightgrey;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-around;
}

.game-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
