.full-app {
    min-height: 100vh;
    background: lightgrey;
}

.main-outer-container {
    background: lightgrey;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
}

.game-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
