.main-outer-container {
    background: lightgrey;
    font-family: 'Press Start 2P', cursive;
    display: flex;
}

.game-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

footer.footer {
    background: #d0d0d0;
    height: 4vh;
}
